#tabla{

    padding:5%;
}

h1{

  padding-top:6%;
  text-align:center;

}

#perfil{

padding-bottom:10%;


}



/* Media query para dispositivos móviles */
@media screen and (max-width: 767px) {
.cont {
  padding-top: 2%;
}


h1{

  padding-top:10%;

}

}